.left-section {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 24px;
  cursor: pointer;
  margin-right: 24px;
  margin-left: 24px;
}

.youtube-logo {
  height: 20px;
  cursor: pointer;
}

.middle-section {
  flex: 1;
  margin-right: 70px;
  margin-left: 100px;
  max-width: 400px;
  display: flex;
  align-items: center;
}

.search-bar {
  border-radius: 2px;
  padding-left: 20px;
  font-size: 20px;
  border: 1px solid #ccc;
  padding-left: 16px;
  padding-top: 0px;
  padding-bottom: 0px;
  flex: 1;
  height: 40px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  width: 0;
}
.search-button {
  height: 42px;
  width: 66px;
  background-color: rgb(239, 239, 239);
  border: 1px solid rgb(192, 192, 192);
  padding: none;
  cursor: pointer;
  border-radius: 2px;
  margin-left: -1px;
  margin-right: 10px;
  position: relative;
}
.tooltip-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.apps-icon-container .tooltip,
.notification-icon-container .tooltip {
  font-family: Roboto;
  position: absolute;
  background-color: gray;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -10px;

  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  white-space: nowrap;

  pointer-events: none;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.apps-icon-container:hover .tooltip,
.notification-icon-container:hover .tooltip {
  opacity: 1;
}

.search-icon {
  height: 25px;
  width: 20px;
}

.voice-search-button {
  height: 40px;
  width: 40px;
  cursor: pointer;
  background-color: rgb(239, 239, 239);
  border: none;
  border-radius: 20px;
  margin-left: 20px;
}

.voice-search-icon {
  height: 26px;
  width: 20px;
  object-fit: contain;
}

.right-section {
  display: flex;
  width: 180px;
  align-items: center;
  justify-content: space-between;
  margin-right: 24px;
}

.upload-icon {
  height: 24px;
}

.apps-icon {
  height: 24px;
  margin-left: 20px;
}
.notification-icon {
  height: 24px;
  margin-left: 20px;
}
.user-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ccc;
  height: 60px;
  overflow: hidden;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
}

.notification-icon-container {
  position: relative;
}
.notification-count {
  position: absolute;
  top: -2px;
  right: -3px;
  background-color: rgb(211, 0, 0);
  color: white;
  font-size: 10px;
  border-radius: 50%;
  padding: 2px 5px;
}
